<table  style="float: left" >
    <br>
    <p dir="rtl" style="margin:80px"> name <input type="text" [(ngModel)]="employee.name" /> </p>
    <p dir="rtl" style="margin:80px">  age  <input type="text" [(ngModel)]="employee.age" /></p>
    <p dir="rtl" style="margin:80px"> salary <input type="text" [(ngModel)]="employee.salary" /></p>
    <p dir="rtl" style="margin:80px">
      <a href="./login/employee/list"><button style="margin-bottom: 252px" pButton label="ثبت" (click)="saveEmployee()" class="ui-button-raised"></button></a>
    </p>
  </table>
<table style="float: right" dir="rtl">
  <button pButton label="منو"></button>
  <br>
  <br>
  <a href="./login/employee/list"><button pButton label="مدیریت کارمندان" class="ui-button-raised"></button></a>
  <br>
  <button style="margin-bottom: 600px" pButton label="چت"  class="ui-button-raised"></button>
</table>

