<table style="float: left">
  <p dir="rtl"><a href="./login/employee/register"><button pButton label="ثبت کارمند جدید" class="ui-button-raised" ></button></a></p>
    <p-table [value]="employeeList">
      <ng-template pTemplate="header">
        <tr >
          <th> code  </th>
          <th> name  </th>
          <th> age  </th>
          <th> salary  </th>
          <th> delete  </th>
        </tr>
      </ng-template>
      <ng-template  pTemplate="body" let-employee>
        <tr align="center">

          <td>{{employee.id}}</td>
          <td>{{employee.employee_name}}</td>
          <td>{{employee.employee_age}}</td>
          <td>{{employee.employee_salary}}</td>
          <td ><button pButton label="حذف" (click)="deleteEmployee(employee.id)" class="ui-button-raised" ></button></td>



        </tr>
      </ng-template>
    </p-table>

  </table>
  <table style="float: right" dir="rtl">
    <button pButton label="منو"></button>
    <br>
    <br>
    <a href="./login/employee/list"><button pButton label="مدیریت کارمندان" class="ui-button-raised"></button></a>
    <br>
   <button style="margin-bottom: 600px" pButton label="چت" class="ui-button-raised" ></button>
  </table>

